{
    "env": {
        "browser": true
    },
    "extends": [
        "plugin:react/recommended"
    ],
    "plugins": [
        "react"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "react/no-unescaped-entities": 1,
        "react/jsx-curly-newline": 1
    }
}